body {
  text-align: left;
  margin:0px;
  color:#333;
  background-color:#fff;
  font-family: helvetica, arial, sans-serif;
}
#header_wrapper {
  margin:0px; padding:0px;
}

#header {
  height: 0px;
  padding:15px;
  margin:0px;
}

#account_bar {
    height: 36px;
    line-height: 1;
    width: 100%;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: black;
    color: #ddd;
    font-family: helvetica, sans-serif;
}

#account_bar > div {
    margin-left: 180px;
    margin-right: 180px;
    padding-top: 12px;
    text-decoration: none;
}

#account_bar a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-left: 1em;

}

#left_side {
  margin-top: 10px;
  float: left;
  width: 160px;
}

#right_side {
  margin-top: 10px;
  float: right;
  width: 160px;
}

#content {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 180px;
  margin-right: 180px;
}

#footer {
  height: 50px;
  clear: both;
  text-align: center;
  padding-top:12px;
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
  line-height: 18px;
}

#footer A:link {
	COLOR: #FFFFFF; text-decoration: none;
}
#footer A:visited {
	COLOR: #FFFFFF; text-decoration: none;
}
#footer A:active {
	COLOR: #FFFFFF; text-decoration: none;
}
#footer A:hover {
	COLOR: #FFFFFF; text-decoration: underline;
}

#left_side p, #right_side p {
  margin:10px;margin-top:15px;margin-bottom:15px;
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #333333;
}

#left_side h3, #right_side h3 {
  margin-top:5px; margin-bottom:10px; margin-left:5px; margin-right:5px;
  padding:4px;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  color: #FFFFFF;
}

#left_side h4, #right_side h4 {
  margin-top:0px;margin-bottom:0px;margin-left:10px;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
}

#content p {
  margin-top:15px; margin-bottom: 15px;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
}

#content h3 {
  margin-top:5px; margin-bottom: 10px;
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}

#content h4 {
  margin-top:0px;margin-bottom:0px;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 12px;
}

#navlist
{
  margin-top:1px;
  margin-bottom:0px;
  text-align:center;
  padding: 5px 0;
  margin-left: 0;
  border-bottom: 1px solid #0F3974;
  font: bold 14px Verdana, sans-serif;
}

#navlist li
{
  list-style: none;
  margin: 0;
  display: inline;
}

#navlist li a
{
  padding: 5px 15px;
  margin-left: 3px;
  border-bottom: none;
  text-decoration: none;
}
#navlist li a:hover
{
  color: #FFFFFF;
}

#navlist li a#current
{
  color: #000;
  background: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.float_left {
  float: left;
  margin-right: 10px;
}

.float_right {
  float: right;
  margin-left: 10px;
}

.featurebox_center {
  background-color: #fffff6;
  margin:0px;
  padding:10px;
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
  line-height: 18px;
  color: #333333;
}

.featurebox_side {
  margin:0px;margin-left:10px;margin-right:10px;margin-bottom:15px;
  padding:10px;
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
  line-height: 18px;
  color: #333333;
}

.summary_line {
    margin:10px;
}

.summary_line span {
    padding:4px;
    margin-left:10px;
    background-color: #eee;
}
